@media (min-width:640px){
    .about{text-align: left;}
    .about .tool img{float: left;}
    .about img{display: block;}
}
@media ( min-width:980px){
    .header .header-top .header-content img{float: left;position: relative;}
    .header .header-top .header-content{width: 95%;margin: 0;display: block;}
    .header .header-top .header-content .hambur{display: none;}
    .header .header-top .header-content .menu {display: block;}
    .header .header-top .header-content .menu ul{border: none;float: right;}
    .header .header-top .header-content .menu ul li{float: left;}
    .end-header p{
        float: left;
        display: block;
        margin: 15px;
    }
    .end-header img{height: 60px;}
    .about{display: block;width: 85%;}
    .about .about-content{width: 50%;float: left;}
    .about img{width: 45%;float: left;}
    .quote .quote-content .quote-person{
        width: 50%;
        float: left;
    }
    .ican-skills .skill{
        width: 50%;
        float: left;
    }
}

@media (min-width:1024px) {
    .header{max-height: 600px;}
    .ican-skills .skill{
        width: 33.33333%;
    }
}